/* 2) შექმენით დალაგებული სია, რომელშიც ჩამოწერილი იქნება ფილმების სახელები. ფილმები დაალაგეთ თანმიმდევრობით From best to worst. მიანიჭეთ სიას დიდი რომაული ნუმერაცია და მარკერები განათავსეთ ტექსტის გარეთ. */

/* 3) შექმენით დალაგებული სია, სადაც ჩამოწერთ ქვეყნის სახელებს. ქვეყნის სახელები იმის მიხედვით დაალაგეთ, თუ სად გინდათ მოგზაურობა ყველაზე მეტად. სიას მიანიჭეთ მრგვალი მარკერის სტილი და ტექსტი მოათავსეთ მარკერების შიგნით. */
ol{
    list-style-type: disc;
}

/* 4) შექმენით დაულაგებელი სია, რომელშიც ჩამოწერილი იქნება კვირის დღეები. გამოიყენეთ დაბალი შრიფტის ლათინური ასოების ნუმერაცია (a, b, c...) მარკერების გასაფორმებლად. */

/* 5) შექმენით საიტი და დაამატეთ დაულაგებელი სია, სადაც ჩაწერთ პროდუქტის დასახელებებს. CSS-ის გამოყენებით შექმენით სტილი, რომელიც წაშლის მარკერებს სიიდან. თითოეულ სიის ელემენტს მიანიჭეთ Background ფერი და border-ი. */

/* 6) სახლში გატესტეთ list-type-image და ეცადეთ, რომ იგი დასვათ სიის ელემენტების მარკერების ზომაზე. */