body{
    background: url(https://www.bmw.tj/content/dam/bmw/common/all-models/m-series/series-overview/bmw-m-series-seo-overview-ms-04.jpg);
    background-size: 1.1;
    background-repeat: repeat-y;
}