/* შექმენით ერთი Div-ი, მიანიჭეთ id --> container  და მასში ჩააშენეთ სამი Div-ი. კონტეინერს გაუწერეთ display: flex, რომ შვილი დივები ერთ ხაზზე განლაგდეს.გამოიყენეთ დღეს ნასწავლი  მასალა, რომ შვილი div-ები ვერტიკალურად გაცენტროთ და ისინი ერთმანეთისგან თანაბარი მანძილით დააშოროთ (კედელსა და დივებს შორის თანაბარი მანძილი უნდა იყოს). */

#container{
    display: flex;
    justify-content: space-around;
    background: blue;
    width: 150px;
    height: 150px;
    border: 5px solid black;
}