body{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-1{
    width: 285px;
    height: 425px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.box-2{
    width: 250px;
    height: 250px;
    padding: 16px;
    border-radius: 10%;
}

.box-3{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 770;
    transform: translateX(30px) translateY(-10px);
    color: hsl(218, 44%, 22%);
}

.box-4{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    transform: translateX(35px) translateY(-10px);
    color: hsl(216, 15%, 48%);
}