/* კომენტარის სახით დაალაგეთ მოცემული სელექტორები პრიორიტეტების მიხედვით:
Class, ID, Element, Inline
element, id, class, inline

შექმენით ვებ-საიტი: დაამატეთ 3 ფოტო, 5 პარაგრაფი, 2 Heading-ი და 2 ღილაკი.
ფოტოებიდან 2-ს მიანიჭეთ წითელი ფერის double ბორდერი და ზომა: 200 x 200. 
ხოლო დრჩენილ 1 ფოტოს მიანიჭეთ იასამნისფერი solid ბორდერი და ზომა: 150 x 150. 
საიტზე დამატებულ 3 პარაგრაფს მიეცით ცისფერი ფერი, 2-ს კი ნარინჯისფერი ფერი.ხუთივე პარაგრაფი გადაიტანეთ ცენტრში.
ორივე Heading-ს მიეცით ლურჯი dotted ბორდერი, ტექსტის ფერი -- იისფერი და გადაიტანეთ ცენტრში.
ღილაკები კი ინდივიდუალურად გასტილეთ. ამ ორ ღილაკს ჰქონდეს ერთმანეთისგან სხვადასხვა ფერი, ბორდერი და ზომა.
(ამ დავალებების შესასრულებლად გამოიყენეთ id-ები და class-ები. ელემენტები გასტილეთ Exrernal CSS-ში.) */
.img1{
    border: 3px red double;
    width: 150px;
    height: 150px;
}

img{
    border: 3px purple solid;
    width: 150px;
    height: 150px;
}

.p1{
    color: lightblue;
    text-align: center;
}

.p2{
    color: orange;
    text-align: center;
}

h1, h2{
    border: 3px blue dotted;
}