/* 2) CSS_ში კომენტარის სახით ახსენით თუ რა დანიშნულება აქვს border-radius კუთვნილებას და რამდენი მნიშვნელობა გადაეცემა მას. */
/* ბორდერ რადიუსი ამრგვალებს და მას გადაეცემა 4 მნიშვნელობა 1- ზემოთა მარცხენა 2- ზემოთა მარჯვენა 3- დაბლითა მარჯვენა 4- დაბლითა მარცხენა */

/* 3) border-radius-ის მნიშვნელობების შესახებ შექმენით სქემა/ჩანახატი (ანალოგიურად, როგორც გაკვეთილზე გავაკეთეთ). ნახაზის საშუალებით ახსენით რა თანმიმდევრობით აისახება ელემენტის კუთხეებზე ცვლილება border-radius კუთნილების გამოყენების შემთხვევაში. */
#img-1{
    border-radius: 10px, 20px, 7px, 17px;
}

/* ჩავხატე */

/* 4) შექმენით Form. მასში დაამატეთ label/input ელემენტები და მომხმარებელს შემოატანინეთ შემდეგი ინფორმაცია: */

/* • Username; */
/* • Password; */
/* • Repeat Password. */

/* ჩამოთვლილთაგან თითოეულ Input-ს გაუწერეთ required ატრიბუტი. ამასათანავე, მაუსის გადატარებისას Input ველებს შეუცვალეთ Backgorund-ის ფერი (ლურჯი), label-ებს კი შრიფტის ფერი (წითელი) და ზომა (18px). active მდგომარეობისას Input ველებს text-shadow გაუწერეთ. მთლიან ფორმას მიანიჭეთ ღია ცისფერი Background-ის ფერი. */
input:hover{
    background-color: blue;
}

label{
    color: red;
    font-size: 18px;
}

input:active{
    text-shadow: 12px;
}

form{
    color: lightblue;
}



/* შექმენით მსგავსი ფორმები HTML + CSS_ის გამოყენებით (გასტილვა აუცილებელია, თუმცა არ არის სავალდებულო რომ ანალოგიური განლაგება ჰქონდეს.): */