
img{
    width: 350px;
    height: 550px;
    border-radius: 15px 0px 0px 15px;
}

#heading3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: -145px;
    margin-left: 40px;
    color: white;
}

#p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 40px;
    margin-top: -20px;
    color: white;
}

#heading2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 200px;
    margin-top: -20px;
    color: white;
}

#p2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-left: 260px;
    margin-top: -45px;
    font-size: 15px;
    color: white;
}

#h1{
    display: flex;
    margin-left: 380px;
    margin-top: -170px;
    color: rgb(90, 90, 90);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(0, 225, 255);
} 

div{
    height: 450px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-left: 350px;
    margin-top: -535px;
    border-radius: 0px 15px 15px 0px;
    /* transform: translateX(350px) translateY(-485px); */
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    margin-top: -470px;
    margin-left: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* transform: translateY(0px); */
} 



#name{
    display: flex;
    margin-top: -10px;
    margin-left: 380px;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(209, 209, 209);
}

.email{
    display: flex;
    margin-top: 110px;
    margin-left: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#email{
    display: flex;
    margin-top: -10px;
    margin-left: 380px;
    border: 2px solid rgb(209, 209, 209);
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
}

.pass{
    display: flex;
    margin-left: 380px;
    font-size: 20px;
    margin-top: -20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pass{
    display: flex;
    margin-left: 380px;
    margin-top: -10px;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid rgb(209, 209, 209);
}

.cp{
    display: flex;
    margin-left: 380px;
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cp{
    display: flex;
    margin-left: 380px;
    margin-top: -10px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid rgb(209, 209, 209);
    padding-left: 10px;
}



#btn1{
    display: flex;
    margin-left: 380px;
    border: none;
    background-color: rgb(44, 44, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    padding-left: 10px;
}

#p5{
    color: rgb(0, 0, 0);
    /* transform: translateY(-935px) translateX(420px); */
    display: flex;
    margin-left: 380px;
    margin-top: -110px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#p4{
    color: blue;
    display: flex;
    margin-left: 400px;
    margin-top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

#checkbox{
    display: flex;
    margin-left: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}