.loader{
    border: 16px solid #e15b64; 
    border-top: 16px solid white; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin-left: 500px;
    margin-top: 250px;
}

@keyframes spin{
    from{
        transform: rotate(0deg); 
    }
    to{
        transform: rotate(360deg);
    }
}