#parent{
    display: flex;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    background: darkblue;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.chill{
    background: white;
    width: 100px;
    height: 130px;
    border: 2px solid black;
}

.chill:hover{
    width: 150px;
    height: 150px;
    transition: 0.5s;
}