body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
    background-color: #d6e1ff;
    width: 1500px;
    height: 800px;
    border-radius: 15px;
}

img{
    border-radius: 15px 15px 0px 0px;
    width: 400px;
    height: 200px;
}

#box-1{
    width: 400px;
    height: 600px;
    transform: translateX(500px) translateY(43px);
    border-radius: 15px;
    background: white;
}

h2{
    color: hsl(223, 47%, 23%);
    transform: translateX(600px) translateY(-350px);
}

#p1{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    transform: translateX(580px) translateY(-350px);
}

#img{
    width: 50px;
    height: 50px;
    transform: translateX(560px) translateY(-320px);
}

#p2{
    color: hsl(223, 47%, 23%);
    font-size: 18px;
    margin-left: 640px;
    transform: translateY(-390px);
}

#p3{
    font-size: 14px;
    color: hsl(224, 23%, 55%);
    transform: translateX(640px) translateY(-400px);
}

.p4{
    transform: translateX(810px) translateY(-450px);
    color: rgb(37, 37, 208);
    text-decoration: underline;
}

.p4:hover{
    color: hsl(
245, 83, 68);
cursor: pointer;
transition: 7s;
}

#b1{
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    transform: translateX(550px) translateY(-420px);
    color: white;
    background-color: rgb(37, 37, 208);
    border: none;
}

#b1:active{
    background: hsl(
245, 83, 68);
    transition: 2s;
}

#b2{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    transform: translateX(550px) translateY(-410px);
    border: none;
    color: hsl(224, 23%, 55%);
}

#b2:active{
    color: hsl(223, 47%, 23%);
    transition: 3s;
}