/* 2) CSS-ის ფაილში კომენტარის სახით ჩამოწერეთ ყველა კუთვნილება, რომელიც ტექსტური ელემენტების გასტილვისთვის არის საჭირო. თითოეულს მიუწერეთ განმარტება. */
/* hover როცა დააკლიკებ იზამს რამეს ოღნდ რა უნდა ქნას ეგ შენ უნდა მიუთითო, color ფერს უცვლის, solid სწორხაზოვანი,  text-shadow ჩდილი, text-decoration შეგიძლია ხაზები გაუწერო ზემოთ დაბლა ფერი გაუწერო და ასშ. */

/* 3) თქვენი სიტყვებით განმარტეთ რას ეწოდება Pseudo-Selector. ჩამოწერეთ ყველა Pseudo-Selector, რაც ჩვენ ვისწავლეთ და მიუწერეთ თითოეული ლინკის/ ტექსტის რომელ მდგომარეობას აღნიშნავს. */
/* hover, link, active, visited */

/* 4) ააგეთ საიტი საყვარელი მანქანის ბრენდის შესახებ. სურვილისამებრ იყოს Single-page / Multi-page. საიტზე დამატებულ ყველა ტექსტურ ელემენტს შეუცვალეთ Font-ის სტილი. სასურველი შრიფტის სტილი დააიმპორტეთ Google fonts-იდან: */
/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

p{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* 5) შექმენით საიტი, სადაც დაამატებთ nav tag-ს. nav tag-ში ჩააშენეთ 3 ლინკი -> Home, About Us, Contact. ლინკებს მოაშორეთ default ხაზგასმა და გაუწერეთ წითელი ფერი. გამოიყენეთ Pseudo-selector-ები იმისთვის, რომ: */
nav a{
    text-decoration: none;
    color: red;
}

a:hover{
    color: blue;              
    font-size: 50px;         
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:active{
    color: purple;
    font-size: 30px;
}

a:visited{
    color: yellow;
    font-weight: 600;
}

/* • ლინკზე მაუსის გადატარებისას მას მიანიჭეთ ლური ფერი, გაუზარდეთ Font-size და გაამუქეთ ტექსტი font-weight-ის გამოყენებით. */

/* • ლინკებმა დაკლიკებისას მიიღონ იისფერი ფერი და შემცირდნენ ზომაში. */

/* • ლინკებზე გადასვლის შემდეგ ისინი უნდა გახდნენ ყვითელი ფერის და ჰქონდეთ default font-weight მნიშვნელობა. */

/* 7) დაიწყეთ ჯგუფურ პროექტებზე მუშაობა. */
/* დავიწყე */