#box-1{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: mix-1 5s linear;
    margin-top: 250px;
    margin-left: 350px;
}

#box-2{
    background: rgb(86, 86, 255);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: mix-2 5s linear;
    margin-top: -150px;
    margin-left: 570px;
}

#box-3{
    background: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: mix-1 5s linear;
    margin-top: -150px;
    margin-left: 800px;
}

body{
    background: black;
}

@keyframes mix-1{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    70%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes mix-2{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    70%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(50px);
    }
}