/* 2) Grid container-ში განალაგეთ 3 დივი ერთმანეთის გვერდიგვერდ (თითოეულს ჰქონდეს  1fr სიგანე და სიმაღლე) */
#container{
    border: 2px solid blue;
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    background: red;
    width: 80px;
    height: 80px;
}

/* 3) შექმენით 2x2 კვადრატები (2 რიგი, 2 სვეტი) */
#container-1{
    border: 3px solid greenyellow;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.box-1{
    background: red;
    width: 50px;
    height: 50px;
}

/* 4) Grid container-ში დაამატეთ 6 დივი,  დაყავით 3 სვეტად. თითოეულ სვეტს მიანიჭეთ განსხვავებული სიგანეები (100px, 2fr, 3fr) */
#container-2{
    border: 2px solid yellow;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 100px 2fr 3fr ;
}

.box-2{
    width: 50px;
    height: 50px;
    background: blue;
}

/* 5) მოიძიეთ ინფორმაცია თუ როგორაა შესაძლებელი Grid-ში ელემენტების განლაგება justify-items და align-items ის საშუალებით + როგორაა შესაძლებელი თვით Grid-ის გადაადგილება მთელ საიტზე. */

/* დოკუმენტაცია: */